.project {
  &__group {
    font-size: 2rem;
    font-style: italic;
    font-weight: var(--font-weight-light);
    margin-top: 0;
    margin-bottom: 5rem;
  }

  &__description {
    margin-bottom: 5rem;
  }
}
