.slideshow {
  &__container {
    visibility: hidden;
    height: 100%;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    background: white;
  }

  body.slideshow-open &__container {
    visibility: visible;
  }

  &__close {
    position: absolute;
    right: var(--body-padding);
    top: var(--body-padding);
    z-index: 2;
    background-color: red;
  }

  &__slide {
    height: 100%;
    width: auto;
    position: relative;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

// .slideshow__container .glider-prev {
//   left: 0;
// }

// .slideshow__container .glider-next {
//   right: 0;
// }
