.slideshow {
  &__container {
    visibility: hidden;
    height: 80%;
    top: 20%;
    position: fixed;
    left: 0;
    background: white;
    right: 0;
    position: relative;
  }

  body.slideshow-open &__container {
    visibility: visible;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    padding: var(--body-padding);
    background: none;
  }
}

// .slideshow__container .glider-prev {
//   left: 0;
// }

// .slideshow__container .glider-next {
//   right: 0;
// }
